body {
  width: 90%;
  margin: 0 auto;
  position: relative;
  background: #1b1a1a;
  color: #c0c0c0;
  font-family: monospace;
}
.module {
  display: inline-block;
  width: 16rem;
  height: 8rem;
  margin: 0.25rem;
  padding: 0.5rem;
  vertical-align: top;
  outline: 1px solid #343333;
  font-size: 0.75em;
}
.module .graph {
  clear: both;
  padding-top: 0.25rem;
  text-align: center;
  position: relative;
}
.module .value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.module.nograph .title {
  text-align: center;
}
.module.nograph .value {
  text-align: center;
  padding-top: 0.5em;
  font-size: 2em;
}
.module.yesgraph .title {
  float: left;
}
.module.yesgraph .value {
  float: right;
}
.module.twovalues .title {
  text-align: center;
}
.module.twovalues .value {
  text-align: center;
  padding-top: 0.25rem;
  font-size: 1rem;
}

#fqdn,
#uptime {
  text-align: center;
  font-size: 2em;
  padding: 0.25em;
}
#uptime {
  font-family: monospace;
  padding-top: 0;
  padding-bottom: 2%;
}
.footer {
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-decoration: none;
  min-height: 2.1em;
  height: 2.1em;
  background-color: rgb(44, 41, 41);
  color: white;
  text-align: center;
  border-top: 3px solid rgb(54, 54, 57);
  justify-content: space-between;
}
.kernelinfo {
  padding-right: 30px;
  font-size: 1em;
  margin-top: 0.5em;
  float: right;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-bottom: 1em;
}
.avg {
  font-size: 1em;
  margin-top: 0.5em;
  text-align: left;
  padding-left: 30px;
  float: left;
  word-spacing: 2px;
  margin-bottom: 0.5em;
}
